<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BatikIn</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo_2.png" rel="icon">
  <link href="assets/img/logo_2.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href=""><span style="font-family: 'Yellowtail'; font-size: 50px; font-weight: normal;">BatikIn</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#details">About</a></li>
          <li><a class="nav-link scrollto" href="#about">Features</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Temukan Makna dan Peluk Warisan Budaya dengan <span>BatikIn</span></h1>
            <h2>Menemukan Makna di Balik Batik: Menggali Kekayaan Budaya Indonesia</h2>
            <div class="text-center text-lg-start">
              <a href="https://storage.googleapis.com/batikin-bucket/BatikIn.1.1.apk" target="_blank" class="btn-get-started scrollto">Download Aplikasi</a>
              &nbsp
              <a href="https://app.batikin.site" target="_blank" class="btn-get-started scrollto">Coba Versi Website</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/detail.jpeg" style="border-radius: 20px;" width="300" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">
        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/batikin2.avif" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Problem</h3>
            <p class="fst-italic">
             Batik merupakan warisan budaya Indonesia yang telah mendapatkan Pengakuan UNESCO. Namun dari hasil penelitian yang kami lakukan, kami menemukan beberapa permasalahan yang ada di masyarakat dan berkaitan dengan industri fashion batik diantaranya masyarakat hanya membeli produk batik tanpa mengetahui makna dan filosofi dibalik motif yang terkandung pada produk yang dibeli. Hal ini tentu saja dapat menghilangkan jati diri batik itu sendiri sebagai budaya bangsa Indonesia. Kurangnya pengetahuan ini disebabkan oleh tidak adanya alat yang dapat digunakan untuk mempelajari makna dan filosofi yang terkandung dalam pola batik
            </p>
           
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/batikin1.avif" class="img-fluid mt-2" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Solution Provided</h3>
            <p>
              BatikIn adalah aplikasi mobile yang menggabungkan seni membatik dengan teknologi klasifikasi gambar canggih. Ini berfungsi sebagai panduan interaktif dan alat pendidikan untuk penggemar batik dan budaya. Aplikasi terdiri dari halaman yang berbeda, Pengguna dapat mengunggah gambar batik untuk mendapatkan wawasan, juga pengguna dapat mengakses fitur kuis untuk beberapa tantangan tentang Batik.
            </p>
            <p>
              tujuan dari platform BatikIn adalah
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Menyelami Filosofi di Setiap Motif</li>
              <li><i class="bi bi-check"></i> Menghargai Keindahan dan Budaya Indonesia</li>
              <li><i class="bi bi-check"></i> Memahami Batik Lebih Dalam dan Temukan Cerita di Setiap Pola</li>
              <li><i class="bi bi-check"></i> Menghubungkan Generasi milenial dengan Warisan Budaya Batik</li>
              <li><i class="bi bi-check"></i> Menjaga Identitas Batik dengan Menggabungkan Kesenian dan Teknologi</li>
              <li><i class="bi bi-check"></i> Mengapresiasi Kebudayaan Indonesia dengan BatikIn</li>
            </ul>
          </div>
        </div>


      </div>
    </section><!-- End Details Section -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-4 col-lg-4 justify-content-center align-items-stretch" data-aos="fade-right">
            <img  style="border: 1px solid #262627; border-radius: 20px;" class="mt-2" src="assets/img/article.jpeg" alt="" width="200">
            <img  style="border: 1px solid #262627; border-radius: 20px;" class="mt-2" src="assets/img/camera.jpeg" alt="" width="200">
            <img  style="border: 1px solid #262627; border-radius: 20px;" class="mt-2" src="assets/img/scan.jpeg" alt="" width="200">
          </div>

          <div class="col-xl-8 col-lg-8 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>Features</h3>
            <p>Fitur yang tersedia pada platform kami : </p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Batik Pattern Classification</a></h4>
              <p class="description">BatikIn memungkinkan pengguna untuk menangkap atau mengunggah gambar pola batik dan langsung mengidentifikasi jenis atau gaya batik tertentu. Dari desain tradisional hingga modern, aplikasi mengenali karakteristik unik, motif, dan skema warna yang menentukan setiap pola batik.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Comprehensive Batik Library</a></h4>
              <p class="description">BatikIn memiliki database yang luas yang menampilkan berbagai pola batik asli dari berbagai daerah di Indonesia. Pengguna dapat menjelajahi keragaman gaya, memahami signifikansi historisnya, dan mengapresiasi cerita budaya di balik setiap pola.</p>
            </div>


            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-book"></i></div>
              <h4 class="title"><a href="">Learning Resources</a></h4>
              <p class="description">Untuk memperdalam pemahaman tentang batik, BatikIn menawarkan materi edukasi berupa artikel dan kuis. Pengguna dapat belajar tentang simbolisme, teknik, dan makna budaya yang terkait dengan pola batik yang berbeda, memperkaya pengetahuan dan apresiasi mereka terhadap kerajinan tradisional ini.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p>Galeri batik indonesia</p>
        </div>

        <div class="row g-0" data-aos="fade-left">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="https://storage.googleapis.com/batikin-bucket/2_b1ec3888f547af71_Geblek-Renteng5.jpg" class="gallery-lightbox">
                <img src="https://storage.googleapis.com/batikin-bucket/2_b1ec3888f547af71_Geblek-Renteng5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
              <a href="https://storage.googleapis.com/batikin-bucket/2_ec3888f547af71a5_kawung_(13).jpg" class="gallery-lightbox">
                <img src="https://storage.googleapis.com/batikin-bucket/2_ec3888f547af71a5_kawung_(13).jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
              <a href="https://storage.googleapis.com/batikin-bucket/2_8f547af71a58e90d_pring_sedapur.jpeg" class="gallery-lightbox">
                <img src="https://storage.googleapis.com/batikin-bucket/2_8f547af71a58e90d_pring_sedapur.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
              <a href="https://storage.googleapis.com/batikin-bucket/2_f547af71a58e90dd_sidoarjo.webp" class="gallery-lightbox">
                <img src="https://storage.googleapis.com/batikin-bucket/2_f547af71a58e90dd_sidoarjo.webp" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
              <a href="https://storage.googleapis.com/batikin-bucket/2_c3888f547af71a58_mega-mendung_(33).jpg" class="gallery-lightbox">
                <img src="https://storage.googleapis.com/batikin-bucket/2_c3888f547af71a58_mega-mendung_(33).jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
              <a href="https://storage.googleapis.com/batikin-bucket/2_547af71a58e90dd4_simbut.jpeg" class="gallery-lightbox">
                <img src="https://storage.googleapis.com/batikin-bucket/2_547af71a58e90dd4_simbut.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our Great Team</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/3.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Satrio Putro Wicaksono</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/satrio-putro-wicaksono-051a50183/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/6.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Isna Bella Fajrina Anwar</h4>
                <span>Project Manager</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/isnafajrina/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/4.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dalila Anwar Dini Rasyidah</h4>
                <span>Mobile Development Lead</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/dalila-anwar-dini-rasyidah-a06b94221/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/5.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Gunawan</h4>
                <span>Machine Learning Lead</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/william-gunawan-038ab01aa/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

           <div class="col-lg-3 col-md-6 mt-5">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/2.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Valent Aderiandra</h4>
                <span>Machine Learning Engineer</span>
                <div class="social">
                  <a href="https://www.linkedin.com/in/valentaderiandra/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/1.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Andika Dwi Muhammad Taufan</h4>
                <span>Cloud Engineer</span>
                <div class="social">
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Apa itu batik?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                 Batik adalah seni tekstil tradisional yang menggunakan teknik pewarnaan khusus untuk menciptakan pola dan motif yang unik. Proses batik melibatkan penggunaan lilin atau malam sebagai penghalang untuk mencegah pewarnaan pada area tertentu, sehingga menghasilkan pola yang kontras di atas kain.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Bagaimana batik menjadi warisan budaya Indonesia?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Batik telah menjadi bagian tak terpisahkan dari budaya Indonesia selama berabad-abad. Pada tahun 2009, UNESCO mengakui batik Indonesia sebagai Warisan Budaya Takbenda Manusia. Pengakuan ini menandakan pentingnya batik dalam menjaga identitas budaya, mencerminkan kekayaan sejarah, dan mempromosikan keterampilan tradisional serta keberlanjutan ekonomi masyarakat pengrajin batik.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Apakah BatikIn gratis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                 Ya, BatikIn adalah aplikasi yang sepenuhnya gratis untuk diunduh dan digunakan. Kami percaya bahwa aksesibilitas terhadap pengetahuan dan apresiasi terhadap batik adalah hal yang penting. Oleh karena itu, kami memastikan bahwa aplikasi ini dapat dinikmati oleh semua orang tanpa biaya.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Apakah BatikIn tersedia dalam versi web dan mobile? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Ya, BatikIn dapat diakses melalui versi web dan aplikasi seluler. Versi web memungkinkan pengguna untuk menjelajahi konten dan menggunakan fitur yang sama seperti dalam aplikasi seluler. Pengguna dapat mengakses BatikIn melalui peramban web di perangkat apa pun, sementara aplikasi seluler memberikan kemudahan penggunaan dan kenyamanan saat Anda sedang dalam perjalanan.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Apakah BatikIn memerlukan koneksi internet untuk digunakan? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Ya, untuk menggunakan BatikIn, Anda memerlukan koneksi internet yang stabil. Hal ini diperlukan untuk mengunggah gambar batik, mengakses konten, dan menjawab tantangan kuis.
                </p>
              </div>
            </li>

            

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3 style="font-family: 'Yellowtail'; font-size: 50px; font-weight: normal;">BatikIn</h3>
              <p>
                <strong>WhatsApp:</strong> +6281-334-304-990<br>
                <strong>Email:</strong> info@batikin.site<br>
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Ikuti kami untuk mendapatkan informasi terbaru tentang budaya batik dan pembaruan di aplikasi kami</p>
            <form>
              <input type="text" id="whatsapp" name="whatsapp" placeholder="Masukkan email atau nomor whatsapp anda">
            </form>
            <br>
            <button onclick="submit();" class="btn btn-md btn-success">Subscibe</button>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>BatikIn</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BatikIn team</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const submit = () => {
      const id = $('#whatsapp').val();
      console.log('subscribe using : ', id);
      //location.reload();
    }
  </script>
</body>

</html>